@media screen and (max-width: 300px) {
    body{
        background-color: black;
    }
}
@media screen and (min-width: 700px) {

    body{
    background-color:  red;
    }
}
    
@media screen and (min-width: 1080px) {
    
    body{
    background-color:  blue;
    }
}